*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url(../QW.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: forestgreen;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    /*(font-size: 34px;*/
}

.menu{
    width: 107%;
    margin-top: -60px;
    float: left;
    height: 65px;
    background: orangered;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellowgreen;
}

.search{
    width: 330px;
    right: 30%;
    float: right;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 120px;
    cursor: pointer;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 13px;
    color: whitesmoke;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par{
    padding-left: 20px;
    color: #fff;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: gold;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 14px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    width: 100px;
    margin-bottom: 7px;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: green;
}

.content span{
    color: gold;
    font-size: 6px;
}

.form{
    width: 250px;
    height: 400px;
    position: absolute;
    background-color: grey;
    top: 70px;
    left: 970px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(grey)50%, rgba(grey)50%);
    padding: 7px;
}

.form h2{ 
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form p{
    color: #fff;
    cursor: pointer;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.btnn{
    width: 240px;
    height: 40px;
    background: gold;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.btnn:hover{
    background: #fff;
    color: goldenrod;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: goldenrod;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.link{
    padding-top: 15px;
    padding-bottom: 10px;
}

